.insurers-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; // Si quieres que sea un banner desplazable
  }
  
  .insurers-track {
    display: flex;
    gap: 20px; // Añade un espacio entre las tarjetas si lo necesitas
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .insurer-card {
    flex-shrink: 0;
    width: 150px; // Ajusta el tamaño según lo que necesites
    height: 100px; // Ajusta también la altura
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .insurer-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; // Para mantener la proporción de la imagen
  }
  